<div class="title">
  <h1>Stone, Paper or Scissors!</h1>
</div>
<div class="score-board">
  <div id="user-label" class="badge">User</div>
  <div id="comp-label" class="badge">Comp.</div>
  <span id="user-score">{{ pointsUser }}</span>:<span id="comp-score">{{ pointsComp }}</span>
</div>
<p class="info-game">{{result}}</p>
<div class="choices">
  <div class="choice" (mousedown)="canPlay && makePlayed(0)">
    <img src="/assets/img/stone.png">
  </div>
  <div class="choice" (mousedown)="canPlay && makePlayed(0)">
    <img src="/assets/img/paper.png" >
  </div>
  <div class="choice" (mousedown)="canPlay && makePlayed(0)">
    <img src="/assets/img/scissors.png" >
  </div>
</div>